.noover{
    overflow-x: hidden;
}

.list{
    display: flex;
  
   
    flex-direction: column;
   
}
.listflex{
    display: flex;
    gap: 10px;
}
.total{
    margin-left: 10px;
}

.formflex{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 14px;
    justify-content: center;
    margin-bottom: 7px;
}

.flextitle{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 14px;
    justify-content: center;

}
